@tailwind base;
@tailwind components;
@tailwind utilities;

#qr-reader, #map {
  height: 250px;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
}
.bg-purple {
  background-color: #6f42c1 !important;
}
